@using MediApp.Models
@model PatientPartialModel

@if(Model.IsPatient)
{
    <li>
        @Html.ActionLink("Cos tam Pacjenta", "Index", "Patient", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
}


