@using MediApp.Models
@model PatientPartialModel

@if(Model.IsPatient)
{
    <li>@Html.ActionLink("Badanie", "Survey", "Diseases")</li>
    <li>@Html.ActionLink("Historia chorób", "DiseasesHistory", "Diseases")</li>    
}


