@{
    ViewBag.Title = "O MediApp";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>MediApp został stworzony z myślą o pacjentach, którzy chcą w wygodny sposób przechowywać informacje o przebytych chorobach, mieć szybki dostęp do wstępnej diagnozy chorób oraz kontakt z lekarzami.</p>
