@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    MediApp<br />
    Gdańsk, Miszewskiego 111<br />
    <abbr title="Telefon">Tel:</abbr>
    678 456 234
</address>

<address>
    <strong>Pytania: </strong>   <a href="mailto:Support@example.com">mediapp@example.com</a><br />
    <strong>Marketing: </strong> <a href="mailto:Marketing@example.com">marketing@example.com</a>
</address>