@model MediApp.Models.IllnessFull

@{
    ViewBag.Title = "Historia chorób";
}

<h2>Historia przebytych chorób</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>
</table>