@{
    ViewBag.Title = "Badanie";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p>Pytanie nr 1: Czy odczuwasz bóle kostno-stawowe?</p>
    <input id="P1true" type="radio" value="true" />
    <label for="P1true">TAK</label>
    <input id="P1false" type="radio" value="false" />
    <label for="P1false">NIE</label>
</div>
